<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis delectus dicta excepturi esse exercitationem velit ea sed veritatis impedit beatae illo distinctio saepe natus quibusdam eaque, vitae incidunt quia? Nostrum, consequuntur soluta. Dolores eveniet aliquid sunt quo magnam hic animi!</p>
    </div>
</div>