<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4">Note App Nodejs and Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eum incidunt mollitia, fuga quasi molestiae nesciunt blanditiis et vero distinctio molestias in. Ea repellendus voluptatum numquam, quasi ex fugiat veritatis?</p>
    <a href="https://estudio2b.dev" class="btn btn-primary btn-lg">Visitanos</a>
</div>
